:root {
    --sidebar-width: 240px;
    --header-height: 120px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;

}
.layout{
    display: flex;
    min-height: 100vh;
}


header{
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    z-index: 3000;
}

.header h1 {
    padding: 20px 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background: black;
    z-index: 2000;
}

.nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

.nav-button{
    background: blue;
    color: white;
    margin: 0;
    padding: 18px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    font-family: 'Times New Roman';
    border-bottom: 2px solid black;
}
.nav-button:hover{
    background-color: darkgoldenrod;
    color: white;
}

.dropdown{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background: darkgoldenrod;
    text-align: center;
    
}
.dropdown a{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 5px 0;
    font-weight: bold;
    background: darkgoldenrod;
    color: blue;
    
    transition: background 0.2s ease, color 0.2s ease;
    
}
.dropdown a:hover {
    background-color: blue;
    color: black;
}
.nav-item:hover > .dropdown{
    max-height: 600px;
}


.main-content {
    margin-left: var(--sidebar-width);
    margin-top: var(--header-height);
    padding: 30px;
}

.main-content h2{
    padding: 40px;
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman';
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;

}

.article  {
    color: lightgray;
    transform: scale(1);
    transition: transform 2.0s ease, color 2.0s ease;
}


.article:hover{
    color: black;
    transform: scale(1.05);

}
.article h3{
    color:inherit;
    font-family: 'Times New Roman';
}


.article p::first-letter{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.article a {
    display: inline-block;
    margin-top: 10px;
    color: blue;
}

.thank-you {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: lightblue;
    text-decoration: underline;
    padding: 25px 40px;
    color: darkblue;
    font-size: 28px;
    border: 1px solid black;
}

.read-more {
    padding-right: 24px;
    background-image: url("arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px 16px ;
}